.navbar-brand {
	padding-top: 12px;
}

.panel-default {
	margin-left: 10px;
	margin-right: 10px;
}

.panel-heading .btn-link {
	padding: 0px;
	border: 0px;
}

.alert {
	margin-left: 10px;
	margin-right: 10px;
}

.panel-heading h1 {
		padding-top: 9px;
}